<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.ztzhome.zblog.mapper.FavoriteMapper">

    <resultMap id="FavoriteResultMap" type="cc.ztzhome.zblog.bean.entity.Favorite">
        <id property="favoriteId" column="favorite_id" />
        <result property="userId" column="user_id" />
        <result property="articleId" column="article_id" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <insert id="insert" parameterType="cc.ztzhome.zblog.bean.entity.Favorite"
            useGeneratedKeys="true" keyProperty="favoriteId">
        INSERT INTO tb_blog_favorite (user_id, article_id, create_time)
        VALUES (#{userId}, #{articleId}, #{createTime})
    </insert>

    <delete id="deleteByUserAndArticle">
        DELETE FROM tb_blog_favorite WHERE user_id = #{userId} AND article_id = #{articleId}
    </delete>

    <select id="selectByUserAndArticle" resultMap="FavoriteResultMap">
        SELECT * FROM tb_blog_favorite WHERE user_id = #{userId} AND article_id = #{articleId}
    </select>

    <select id="selectByUserId" resultMap="FavoriteResultMap">
        SELECT * FROM tb_blog_favorite WHERE user_id = #{userId} ORDER BY create_time DESC
    </select>

    <select id="countByArticleId" resultType="int">
        SELECT COUNT(*) FROM tb_blog_favorite WHERE article_id = #{articleId}
    </select>

    <select id="countByUserId" resultType="int">
        SELECT COUNT(*) FROM tb_blog_favorite WHERE user_id = #{userId}
    </select>

</mapper>
