<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.ztzhome.zblog.mapper.FollowMapper">

    <resultMap id="FollowResultMap" type="cc.ztzhome.zblog.bean.entity.Follow">
        <id property="followId" column="follow_id" />
        <result property="followerId" column="follower_id" />
        <result property="followeeId" column="followee_id" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <insert id="insert" parameterType="cc.ztzhome.zblog.bean.entity.Follow"
            useGeneratedKeys="true" keyProperty="followId">
        INSERT INTO tb_user_follow (follower_id, followee_id, create_time)
        VALUES (#{followerId}, #{followeeId}, #{createTime})
    </insert>

    <delete id="deleteByFollowerAndFollowee">
        DELETE FROM tb_user_follow WHERE follower_id = #{followerId} AND followee_id = #{followeeId}
    </delete>

    <select id="selectByFollowerAndFollowee" resultMap="FollowResultMap">
        SELECT * FROM tb_user_follow WHERE follower_id = #{followerId} AND followee_id = #{followeeId}
    </select>

    <select id="selectFollowersByUserId" resultMap="FollowResultMap">
        SELECT * FROM tb_user_follow WHERE followee_id = #{userId} ORDER BY create_time DESC
    </select>

    <select id="selectFollowingByUserId" resultMap="FollowResultMap">
        SELECT * FROM tb_user_follow WHERE follower_id = #{userId} ORDER BY create_time DESC
    </select>

</mapper>
