<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.ztzhome.zblog.mapper.MusicHistoryMapper">

    <resultMap id="MusicHistoryResultMap" type="cc.ztzhome.zblog.bean.entity.MusicHistory">
        <id property="historyId" column="history_id" />
        <result property="userId" column="user_id" />
        <result property="musicId" column="music_id" />
        <result property="playTime" column="play_time" />
    </resultMap>

    <insert id="insertOrUpdate" parameterType="cc.ztzhome.zblog.bean.entity.MusicHistory">
        INSERT INTO tb_music_history (user_id, music_id, play_time)
        VALUES (#{userId}, #{musicId}, #{playTime})
        ON DUPLICATE KEY UPDATE play_time = VALUES(play_time)
    </insert>

    <delete id="deleteByUserAndMusic">
        DELETE FROM tb_music_history WHERE user_id = #{userId} AND music_id = #{musicId}
    </delete>

    <delete id="deleteByUserId">
        DELETE FROM tb_music_history WHERE user_id = #{userId}
    </delete>

    <select id="selectByUserId" resultMap="MusicHistoryResultMap">
        SELECT * FROM tb_music_history WHERE user_id = #{userId} ORDER BY play_time DESC
    </select>

</mapper>
